<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <title>Select multiple Dates in jQuery DatePicker - Clue Mediator</title>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/dubrox/Multiple-Dates-Picker-for-jQuery-UI@master/jquery-ui.multidatespicker.js"></script>

  <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    input {
      width: 300px;
      padding: 7px;
    }

    .ui-state-highlight {
      border: 0 !important;
    }

    .ui-state-highlight a {
      background: #363636 !important;
      color: #fff !important;
    }
  </style>
</head> -->

{% extends 'base.html' %}

{% block content %}

{% endblock %}

<div id="dateModal" class="modal">
  <div class="modal-content">
      <span class="close" id="closeDateBtn">&times;</span>
      <h3 class="title" style="width: 100%;">Выберите даты для отключения</h3>   
      <div class="container1" style="background: #ced4da;">
        <div class="disabl">
          <p>Выберите дату</p>
          <input style="width: 100%;" type="text" class="form-control" id="datePick" placeholder="" style="width: 30%;">
          <button id="send_disable">Отключить даты</button>
        </div>
      </div>
  </div>
</div>